footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #dcdcdc;
  color: #a9a9a9;
  a {
    color: #a9a9a9;
    &:hover {
      color: #808080;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
